body {
  background-image: url('https://dl.glitter-graphics.com/pub/2730/2730267baqumpdcd2.gif');
  image-rendering: pixelated;
  background-color: #ffffff;
  background-size: 72px 72px;
  background-position: center;
  background-repeat: repeat;
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  padding: 20px;
  margin: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header-gif {
  position: absolute;     /* floats over the container */
  top: 11%;               /* adjust vertical position */
  left: 50%;              /* center horizontally */
  transform: translateX(-50%); /* truly centers */
  image-rendering: pixelated;
  transition: transform 0.3s ease;
  z-index: 2; /* sits on top of container */
}

/* Hover animation */
.header-gif:hover {
  transform: translateX(-50%) scale(1.1);
}

.container {
  text-align: center;
  image-rendering: pixelated;
  background-color: #E1E0A4;
  border-radius: 8px;
  border: 8px #ffffff solid;
  z-index: 1;
  position: absolute;     /* floats over the container */
  top: 20%;               /* adjust vertical position */
  left: 50%;              /* center horizontally */
  transform: translateX(-50%); /* truly centers */ 
  padding: 15px;
  max-width: 500px;
}

.h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.h2 {
  font-size: 1.0rem;
  margin-bottom: 30px;
  color: #ffffff;
  padding: 20px;
  margin: 0 15px;
}
#phrase {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ffffff;
  min-height: 2rem;
}

#timer {
  font-size: 4rem;
  margin: 20px 0;
  background-color: #9EB69C;
  padding: 20px;
  margin: 0 50px;
  border: 3px #E1E0A4 inset;
}

button {
  background-color: #F2C693;
  border: none;
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 1.2rem;
  padding: 12px 25px;
  border-radius: 12px;
  margin: 10px;
  cursor: pointer;
  border: 2px #ffffff outset;
  transition: all 0.2s;
}

button:hover {
  opacity: 0.8;
}

button.active {
  border-color: #9C91A6;
  border: 2px #ffffff outset;
  box-shadow: 0 0 10px #9C91A6;
  background-color: #9C91A6;

}

.wings-gif {
  position: absolute;
  right: 100%; /* start completely offscreen to the left */
  top: 15px;
  transform: translateX(0);
  z-index: 2;
  animation: fly-right 8s linear infinite;
}

@keyframes fly-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200vw); /* move smoothly to the right */
  }
}



